

@media screen and (max-width: 768px) {

/* Global */

  .player-header-nav li {
    text-align: right;
  }



/* Landing page */

  .hero-content {
    margin-top: -5em;
  }
  
  .hero-content {
    h1, h3 {
      text-align: center;
    }
  }

  .selling-points {
    padding: 0;
    
    .point {
      width: 100%;
      padding: 1.5em 2em;

      h5 {
        height: 1.75em;
      }

      p {
        text-align: center;
        font-size: 1.25em;
      }
    }
  }

  .landing-album-list {
    max-width: 600px;
    min-width: 300px;
  }








/* Collection page */
  .collection-album-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 280px; /* Width of the album image. */
  }






/* Player bar */
  .player-bar {
    
    .player-bar-control-group {
      display: block;
      width: 400px;
      text-align: center;
      padding: 1em 0;
    }

    .play-controls {
      
      .previous {
        margin-right: 100px;
      }

      .play-pause {
        margin-right: 100px;
      }
    }

    .currently-playing {
      padding-top: 2em;

      .song-name { 
        top: 5px;
      }

      .artist-name {
        bottom: -10px;
      }
    }


  }




































}
