@import "landing";
@import "album";
@import "collection";
@import "player_bar";
@import "profile";
@import "buttons";
@import "mobile";
@import "animate";



/***** Global *****/

  html {
    height: 100%;
  }

  body {
    font-family: 'Open Sans';
    color: white;
    min-height: 100%;
    background: -webkit-radial-gradient(  #2b1339, #380c77);
    background: radial-gradient(   #2b1339, #380c77);
    padding-bottom: 150px;
  }

  body.landing {
    background: #5B5579;
    padding-bottom: 0;
  }



/***** Navigation *****/

  //  medium-purple: #7B46A3 - 123, 70, 163
 
.navbar-default {
    background-color: rgba(123, 70, 163, .9);
    border: none;
}

.navbar-default .navbar-toggle:focus {
  background-color: rgba(123, 70, 163, .9);
  color: #FFF;
}

.navbar-default .navbar-toggle:hover {
  color: rgba(123, 70, 163, .9);
  background-color: #FFF;
}

.navbar-default .navbar-collapse {
  border: none;
  box-shadow: none;
}

.logo {
  img {
    padding: 10px;
  }
}

.navbar-header {
  button {
    width: 60px;
    margin: 10px;
  }
}

.glyphicon  {
  font-weight: 700;
  font-size: 24px; 
}

.navbar-collapse {

  .navbar-nav {
    li {
      a {
        color: #FFF;
        text-align: center;
        line-height: 45px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1.2;
      }
      
      a:hover {
        color: rgba(123, 70, 163, .9);
        background-color: #FFF;
      }
    }
  }
}

.navbar-header {
  border: rgba(123, 70, 163, .9);
}

.chevdown {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.chevup {
}

.rotate {
  -webkit-transition: transform .20s ease-in-out;
  -moz-transition: transform .20s ease-in-out;
  -o-transition: transform .20s ease-in-out;
  transition: transform .20s ease-in-out;
}


  
  